.Homepage {
  text-align: center;
  overflow-x: hidden;
  background-image: url("../public/images/background.jpeg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Homepage-header {
  display: flex;
}

.board{
  background-color: rgb(26,26,26,0.68);
  top: 0;
  bottom: 2rem;
  position:fixed;
  overflow-y:scroll;
  z-index: 0;
  overflow-x: hidden;
  border-radius: 30px;
  width: 88vw;
  font-size: calc(10px + 2vmin);
  margin-left: 10vw;
  margin-right: 2vw;
  margin-bottom: 3vh;
  margin-top: 7vh;
  z-index: 0;
  color: white;
}

.searchbar{
  font-size: calc(2px + 0.8rem);
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgba(233, 232, 232, 0.37);
}

.searchbar::placeholder{
  color: rgba(255, 255, 255);
  background-image: url('../public/icons/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.8;
}

.logo{
  background-image: url("../public/images/logo.png");
  padding: calc(1.3rem + 1.3vw);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 55vh;
  margin-left: calc(0.2rem + 1.3vw);
  }

.selectbox{
  height: 2.5rem;
  width: 5rem;
  font-size: calc(5px + 1.5vmin);
}

.sidebar{
  background-color: rgba(234,234,234,0.08);
  border-radius: 30px 0 0 30px;
  min-height: 89vh;
}

.profile{
  background-image: url("/public/images/Profile\ Picture.png");
  height: 10vh;
  width: 10vw;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

.profile-menu{
  background: transparent;
  border: transparent;
  color: transparent;
  width: 3.5rem;
}

.dropdown-menu{
  background-color: rgba(49, 49, 49, 0.813);
  cursor: pointer;
  height: 22vh;
}

.dropdown-item:hover{
  font-weight: bold;
  color: rgb(138, 43, 226);
}

.songcard{
  opacity: 0.8;
  width: 13rem;
  cursor: pointer;
}

.songcard .box1{
  width: 100%;
}

.title .link{
  font-size: calc(0.7rem + 1.3vmin);
}

.subtitle{
  margin-top: -1.2rem;
  margin-bottom: -0.9rem;
}

.artist{
  margin-top: -1rem;
}

.subtitle .link{
  font-size: calc(0.3rem + 1.5vmin);
  color: rgb(215, 215, 215);
}

.player-container{
  top:calc(90vh - 5vmin);
  bottom:0;
  width: 100%;
}

@media screen and (max-width: 768px){
  .board{
    min-height: 100vh;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

.background-login{
  background-image: url('../public/images/login-bg.jpeg');
  background-color: rgba(0, 0, 0, 0.483);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.card-login{
  background-color: rgba(255, 255, 255, 0.839);
  border-radius: 1rem;
}

.login-logo{
  background-image: url("../public/images/logo.png");
  padding: calc(1.3rem + 1.3vw);
  background-size: contain;
  background-repeat: no-repeat;
}

.image-login{
  border-radius: 1rem 0 0 1rem;
}

.logo-login{
  color: #ff6219;
}

.sign-in{
  letter-spacing: 1px;
}

.account{
  color: #393f81;
}